<html ng-app="app">
<head>
	<base href="/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="navbar-brand" ng-model="hostname.hostname"></h4>
      </div>
    </div>
  </nav>
  
  <p ng-model="hostname.hostname"></p>

  <div ui-view></div>

  <!-- JS dependencies -->
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="components/angular/angular.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- Angular App Files -->
  <script type="text/javascript" src="angular/app.js"></script>
  <script type="text/javascript" src="angular/controllers/MainCtrl.js"></script>
</body>
</html>
