/* Line Chart */
.d3-line-chart {
  width: 100%;
  max-width: 1000px;

  .chart {
    display: block;
    margin: 0 auto;

    .domain {
      fill: none;
      stroke: black;
      stroke-width: 1;
    }
 
    path {
      fill: none;
      stroke-width: 1.5;
    }
  }
}
