<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-info">
      <div class="panel-heading panel-heading-sm"><h5 class="text-panel-heading">General</h5></div>
      <div class="panel-body">
        <div ng-repeat="(stat, value) in info">
          <p>
            <strong><span ng-bind="stat"></span></strong>: 
            <span ng-bind="value" animate-on-change></span>
          </p>
        </div> 
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-sm panel-info">
      <div class="panel-heading panel-heading-sm"><h5 class="text-panel-heading">Visual</h5></div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-info">
      <div class="panel-heading panel-heading-sm"><h5 class="text-panel-heading">Actions</h5></div>
      <div class="panel-body">
        <div class="input-group">
          <input ng-model="cmd" type="text" class="form-control" placeholder="echo 'Hello, world!'">
          <span class="input-group-btn">
            <button ng-click="executeTerminalCmd(cmd)" class="btn btn-primary" type="button">Execute</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
